---
---

@import "{{ site.theme }}";

header {
  width: 170px;
}
section {
  width: 600px;
}

.gallery {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

.gallery-img {
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: transform 0.2s;
}
